<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<div class="card">
  <div class="input-group ">
    <h4 class="card-title">Técnicos</h4>
    <div class="input-group buscar">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Buscar" />
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <div class="container">
      <div class="card">
        <table class="table table-hover shopping-cart-wrap">
          <thead class="text-muted">
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col" width="120">Datos Personales</th>
              <th scope="col" width="120">Estatus</th>
              <th scope="col" width="200" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <figure class="media">
                  <div class="img-wrap">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                      class="img-thumbnail img-sm"
                    />
                  </div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">Carlos Arnulfo Ortega</h6>
                    <dl class="param param-inline small">
                      <dt>Puesto:</dt>
                      <dd>Reclutador</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Área:</dt>
                      <dd>Recursos Humanos</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">arnulfo@gmail.com</h6>
                  <dl class="param param-inline small">
                    <dt>Teléfono:</dt>
                    <dd>3311665879</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Dirección:</dt>
                    <dd>Morelos #5681</dd>
                  </dl>
                </figcaption>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">Activo</h6>
                  <dl class="param param-inline small">
                    <dt>CNUM:</dt>
                    <dd>5874359</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Contratación:</dt>
                    <dd>21-03-2017</dd>
                  </dl>
                </figcaption>
              </td>
              <td class="text-right">
                <a routerLink="perfilUser" class="btn btn-outline-secondary"
                  ><i class="bx bx-low-vision"></i
                ></a>
                <a href="" class="btn btn-outline-success"
                  ><i class="bx bx-detail"></i
                ></a>
                <a href="" class="btn btn-outline-primary"
                  ><i class="bx bxs-edit-alt"></i
                ></a>
                <a href="" class="btn btn-outline-danger"
                  ><i class="bx bx-trash"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <figure class="media">
                  <div class="img-wrap">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      class="img-thumbnail img-sm"
                    />
                  </div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">Carlos Arnulfo Ortega</h6>
                    <dl class="param param-inline small">
                      <dt>Puesto:</dt>
                      <dd>Reclutador</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Área:</dt>
                      <dd>Recursos Humanos</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">arnulfo@gmail.com</h6>
                  <dl class="param param-inline small">
                    <dt>Teléfono:</dt>
                    <dd>3311665879</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Dirección:</dt>
                    <dd>Morelos #5681</dd>
                  </dl>
                </figcaption>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">Activo</h6>
                  <dl class="param param-inline small">
                    <dt>CNUM:</dt>
                    <dd>5874359</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Contratación:</dt>
                    <dd>21-03-2017</dd>
                  </dl>
                </figcaption>
              </td>
              <td class="text-right">
                <a href="" class="btn btn-outline-secondary"
                  ><i class="bx bx-low-vision"></i
                ></a>
                <a href="" class="btn btn-outline-success"
                  ><i class="bx bx-detail"></i
                ></a>
                <a href="" class="btn btn-outline-primary"
                  ><i class="bx bxs-edit-alt"></i
                ></a>
                <a href="" class="btn btn-outline-danger"
                  ><i class="bx bx-trash"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <figure class="media">
                  <div class="img-wrap">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar2.png"
                      class="img-thumbnail img-sm"
                    />
                  </div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">Carlos Arnulfo Ortega</h6>
                    <dl class="param param-inline small">
                      <dt>Puesto:</dt>
                      <dd>Reclutador</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Área:</dt>
                      <dd>Recursos Humanos</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">arnulfo@gmail.com</h6>
                  <dl class="param param-inline small">
                    <dt>Teléfono:</dt>
                    <dd>3311665879</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Dirección:</dt>
                    <dd>Morelos #5681</dd>
                  </dl>
                </figcaption>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">Activo</h6>
                  <dl class="param param-inline small">
                    <dt>CNUM:</dt>
                    <dd>5874359</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Contratación:</dt>
                    <dd>21-03-2017</dd>
                  </dl>
                </figcaption>
              </td>
              <td class="text-right">
                <a href="" class="btn btn-outline-secondary"
                  ><i class="bx bx-low-vision"></i
                ></a>
                <a href="" class="btn btn-outline-success"
                  ><i class="bx bx-detail"></i
                ></a>
                <a href="" class="btn btn-outline-primary"
                  ><i class="bx bxs-edit-alt"></i
                ></a>
                <a href="" class="btn btn-outline-danger"
                  ><i class="bx bx-trash"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <figure class="media">
                  <div class="img-wrap">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar3.png"
                      class="img-thumbnail img-sm"
                    />
                  </div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">Carlos Arnulfo Ortega</h6>
                    <dl class="param param-inline small">
                      <dt>Puesto:</dt>
                      <dd>Reclutador</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Área:</dt>
                      <dd>Recursos Humanos</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">arnulfo@gmail.com</h6>
                  <dl class="param param-inline small">
                    <dt>Teléfono:</dt>
                    <dd>3311665879</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Dirección:</dt>
                    <dd>Morelos #5681</dd>
                  </dl>
                </figcaption>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">Activo</h6>
                  <dl class="param param-inline small">
                    <dt>CNUM:</dt>
                    <dd>5874359</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Contratación:</dt>
                    <dd>21-03-2017</dd>
                  </dl>
                </figcaption>
              </td>
              <td class="text-right">
                <a href="" class="btn btn-outline-secondary"
                  ><i class="bx bx-low-vision"></i
                ></a>
                <a href="" class="btn btn-outline-success"
                  ><i class="bx bx-detail"></i
                ></a>
                <a href="" class="btn btn-outline-primary"
                  ><i class="bx bxs-edit-alt"></i
                ></a>
                <a href="" class="btn btn-outline-danger"
                  ><i class="bx bx-trash"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- card.// -->
    </div>
    <!--container end.//-->
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-navigation></app-navigation>

