*{
    width: auto;
}
.card{
    width: 90%;
    margin-left: 15%;
    margin-right: 1.2%;
    float: right;   
    margin-top: 0px;
}
h4{
    color: #A5A5A5;
    float: left;
}

 div, table {
    width: auto;
    margin-left: 65px;
    margin-right: 65px;
    margin-block: 70px;
    margin-top: 5px;
  }

   th{
      width: 7%;
  }

  .card-title {
    margin-left:2%!important;
    margin-top: 2%!important;
  }

  .mat-form-field {
    font-size: 14px;
    width: auto;
    margin-left: 65px;
    margin-right: 65px;
  }

  mat-paginator{
      margin-top: -35px;
      margin-right: 35px;
  }

