<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<div class="card">
  <div class="input-group ">

    <h4 class="card-title">Técnicos</h4>

    <!--Boton de notificaciones-->
    <div class="dropdown ml-3 mt-4">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Notificaciones ({{techNotifications.length}})
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        
        <li *ngIf="techNotifications.length > 0">
          <a class="dropdown-item" 
             data-bs-toggle="modal" 
             data-bs-target="#complaintsModal"
             *ngFor="let n of techNotifications" 
             (click)="getComplaintsNoRead(n)"> 
                    {{ n.forename }} tiene quejas
          </a>
        </li>

        <li *ngIf="techNotifications.length == 0">
          <a class="dropdown-item"> 
                   No hay notifications
          </a>
        </li>

      </ul>
    </div>
    <!--Termina Boton de notificaciones-->
    
    <div class="input-group buscar">
        <div class="form-outline">
          <input type="search" id="search" name="search" class="form-control" placeholder="Buscar" />
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <div class="container">
      <div class="card">
        <table class="table table-hover shopping-cart-wrap">
          <thead class="text-muted">
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col" width="120">Datos Personales</th>
              <th scope="col" width="120">Estatus</th>
              <th scope="col" width="200" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of technicians | paginate: { itemsPerPage: 3, currentPage: pTabla }">
              <td>
                <figure class="media">
                  <div class="img-wrap mr-5">
                      
                  </div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">{{ t?.forename }}</h6>
                    <dl class="param param-inline small">
                      <dt>Puesto:</dt>
                      <dd>Reclutador</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Área:</dt>
                      <dd>Recursos Humanos</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">arnulfo@gmail.com</h6>
                  <dl class="param param-inline small">
                    <dt>Teléfono:</dt>
                    <dd>3311665879</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Dirección:</dt>
                    <dd>Morelos #5681</dd>
                  </dl>
                </figcaption>
              </td>
              <td>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">Activo</h6>
                  <dl class="param param-inline small">
                    <dt>CNUM:</dt>
                    <dd>5874359</dd>
                  </dl>
                  <dl class="param param-inline small">
                    <dt>Contratación:</dt>
                    <dd>21-03-2017</dd>
                  </dl>
                </figcaption>
              </td>
              <td class="text-right">
                <a href="" class="btn btn-outline-secondary"
                  ><i class="bx bx-low-vision"></i
                ></a>
                <!--Boton para ver todos las quejas de ese usuario-->
                <a class="btn btn-outline-success" 
                   data-bs-toggle="modal" 
                   data-bs-target="#complaintsModal" 
                   (click)="getComplaintsByIdTech(t.id, t);"
                 > 
                    <i class="bx bx-detail"></i>
                </a>
                <a href="" class="btn btn-outline-primary"
                  ><i class="bx bxs-edit-alt"></i
                ></a>
                <a href="" class="btn btn-outline-danger"
                  ><i class="bx bx-trash"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- card.// -->
    </div>
    <!--container end.//-->
  </div>
  <div class="row my-2">
      <div class="col-12 d-flex justify-content-center">
        <pagination-controls (pageChange)="pTabla = $event"
                                previousLabel="Anterior"
                                nextLabel="Siguiente">
          </pagination-controls>
      </div>
  </div>
</div>
<app-navigation></app-navigation>


<!-- Modal ver quejas -->
<div class="modal fade" id="complaintsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="complaintsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="complaintsModalLabel">Quejas</h5>
        <button *ngIf="!btnVerTodos" type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close" 
                (click)="updateStatusComplaint();"
        >
        </button>
        <button *ngIf="btnVerTodos" type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close" 
        >
        </button>
      </div>
      
      <div class="modal-body">
          <h5 *ngIf="!btnVerTodos"> Quejas no leídas de {{ technicianModal.forename }} {{ technicianModal.surname }}</h5>
          <h5 *ngIf="btnVerTodos"> Quejas de {{ technicianModal.forename }} {{ technicianModal.surname }}</h5>
          <p>Email: <span>{{ technicianModal.email }}</span></p>

          <div *ngIf="complaintsModal.length > 0" class="row">
            <div class="card mx-auto p-0" 
                 style="margin-bottom: 2rem !important;" 
                 *ngFor="let c of complaintsModal | paginate: { itemsPerPage: 3, currentPage: p }"
            >
              <h5 class="card-header">Fecha del incidente: {{ (c.dateIncidence.split('T'))[0] }}</h5>
              <div class="card-body">
                <h5 class="card-title" style="margin-top: 0 !important; margin-left: 0 !important;">Queja:</h5>
                <p class="card-text">{{ c.message }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="complaintsModal.length == 0" class="row">
            <div class="col-12">
              <h5 class="text-center">No hay quejas :)</h5>
            </div>
              
          </div>
      </div>
      <div class="modal-footer {{ btnVerTodos ? 'justify-content-end' : 'justify-content-between' }}  align-items-center">
        <button *ngIf="!btnVerTodos"
                type="button" 
                class="btn btn-primary" 
                (click)="updateStatusComplaint(); getComplaintsByIdTech(technicianModal.id);"
        >
            Ver todas las quejas de este técnico
        </button>
        <div *ngIf="complaintsModal.length > 0">
          <pagination-controls (pageChange)="p = $event"
                                previousLabel="Anterior"
                                nextLabel="Siguiente">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>