h4 {
  color: #a5a5a5;
  float: left;
  height: 50px;
  padding: 30px !important;
  margin-bottom: 30px;
  margin-left: 20px !important;
}
.card {
  width: 90%;
  margin-left: 15%;
  margin-right: 1.2%;
  float: right;
  border-color: 1px solid  rgba(235, 235, 235, 0.315);
  margin-bottom: 10px !important;
}
.cards {
    width: 90%;
    margin-left: 15%;
    margin-right: 1.2%;
    float: right;
    
    margin-bottom: 10px !important;
  }
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 4px solid #0061f2;
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  /* color: #69707a; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.boton-cargar {
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  float: right;
  transition: 200ms;
  color: #68919c;
  border-radius: 15px;
  border: #68919c 2px solid;
  margin-top: 3%;
}

.boton-cargar:hover {
  color: #ffffff;
  background-color: #68919c;
}
.conteiner {
  margin-left: -3%;
}
.dia {
  height: 46px !important;
}
