<div class="card">
  <h4 class="card-title">Nuevo Ticket</h4>
  <div class="conteiner col-xl-12">
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header">Datos de solicitud</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername"
              >Nombre del problema *</label
            >
            <input
              class="form-control"
              id="tituloProblema"
              name="tituloProblema"
              type="text"
              placeholder="Titulo del incidente"
              value="Titulo"
              [(ngModel)]="createInterface.tittle"
              required
            />
          </div>

          <!-- Usuario-->
          <div class="row gx-3 mb-3">
            <div class="col-md-6">
              <label class="small mb-1" id="nombre" for="nombre">Nombre del solicitante</label>
              
              <input
                class="form-control"
                id="inputFirstName"
                type="text"
                value="{{interfaceIdentity.forename}}"
                readonly
              />
            </div>
           
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName"
                >Apellidos</label
              >
              <input
                class="form-control"
                id="inputLastName"
                name="inputLastName"
                type="text"
                value="{{ interfaceIdentity.surname }}"
                readonly
                
              />
            </div>
          </div>
        </form>
    </div>
    </div> 
  </div>

 <!-- Account details card-->
  <div class="conteiner col-xl-12">
    <div class="card mb-4">
      <div class="card-header">Detalles del servicio</div>
        <div class="card-body">
          <form>
            <div class="row gx-3 mb-3">
              <!-- Servicio-->
              <div class="col-md-3">
                <label class="small mb-1" for="inputFirstName">Servicio *</label>  
                <select class="form-control form-select dia ml-3" id="servicio" name="servicio" aria-label=".form-select-lg example" [(ngModel)]="createInterface.type" required>
                  <option selected>Tipo de ticket</option>
                  <option value="Internet">Internet</option>
                  <option value="Software">Software (Programas)</option>
                  <option value="Hardware">Hardware (Equipo)</option>
                </select>
              </div>
              <!-- Fecha-->
              <div class="col-md-3">
                <label class="small mb-1" for="fecha"
                  >Fecha de solicitud (DD/MM/AAAA) *</label>
                  <input
                      class="form-control dia"
                      type="date"
                      id="start"
                      name="trip-start"
                      value="2018-07-22"
                      min="2018-01-01"
                      max="2022-12-31"
                      [(ngModel)]="createInterface.dateRequest"
                  />
              </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputLastName">Hora *</label>
                  <input
                      class="form-control dia"
                      type="time"
                      name="Time"
                      id="time"
                      [(ngModel)]="createInterface.hour"
                  />
              </div>
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="dispositivo"
                >Tipo de equipo que presenta*</label
              >
              <select class="form-control form-select dia ml-3" id="dispositivo" name="dispositivo" aria-label=".form-select-lg example" [(ngModel)]="createInterface.device">
                <option selected>Elige el dispositivo</option>
                <option value="Escritorio">Pc Escritorio</option>
                <option value="PC Portatil">Pc Portátil</option>
                <option value="Monitor">Monitor</option>
                <option value="Impresora">Impresora</option>
                <option value="Teclado">Teclado</option>
                <option value="Mouse">Mouse</option>
                <option value="Escaner">Escaner</option>
                <option value="Teléfono">Teléfono</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (Dependencia)-->
              <div class="col-md-4">
                <label class="small mb-1" for="inputOrgName">Área que solicita *</label>
                <input
                  class="form-control"
                  id="area"
                  name="area"
                  type="text"
                  placeholder="Enter your organization name"
                  value="{{ interfaceArea.name }}"
                  readonly
                />
              </div>
              
              <div class="col-md-4">
                <label class="small mb-1" for="inputLocation">Teléfono</label>
                <input
                  class="form-control"
                  id="telefono"
                  name="telefono"
                  type="text"
                  value="{{ interfaceArea.numberPhone }}"
                  readonly
                />
              </div>
                <!-- Form Group (Extención)-->
                <div class="col-md-4">
                  <label class="small mb-1" for="inputPhone">Extención</label>
                  <input
                    class="form-control"
                    id="extencion"
                    name="extencion"
                    type="tel"
                    value="{{ interfaceArea.extension }}"
                    readonly
                  />
                </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-4">
                <label class="small mb-1" for="observaciones">Observaciónes *</label>
                <input
                  class="form-control"
                  id="observaciones"
                  type="text"
                  name="observaciones"
                  placeholder="Datos extra"
                  value=""
                  [(ngModel)]="createInterface.observation"
                /> 
              </div>
              <div class="col-md-4">
                <label for="formFile" class="small mb-1">¿El procedimiento requiere copia de seguridad? *</label><br>
              <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="Si" [(ngModel)]="createInterface.backup">
                <label class="form-check-label" for="inlineRadio1">Si</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No" [(ngModel)]="createInterface.backup">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="No lo sé" [(ngModel)]="createInterface.backup">
                <label class="form-check-label" for="inlineRadio2">No lo sé</label>
              </div>
              </div>
            </div>
            <!-- BUTTON CREATE TICKET  -->
            <button class="btn boton-cargar" type="button" (click)="createTicket()">
              Enviar solicitud
            </button>
          </form>
      </div>
    </div>
  </div>
</div>
<app-navigation></app-navigation>






  
    
    
 

