<div class="fondo" Style="background-image:url(../../../assets/Img/fondo.jpeg)">
<section class="vh-90">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../assets/Img/logo.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <div class="wrapper bg-white">
    <div class="h2 text-center">Help Desk</div>
    <div class="h4 text-muted text-center pt-2"></div>
    <form class="pt-3">
        <div class="form-group py-2">
            <div class="input-field"> <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></span> <input type="text" placeholder="Correo Electrónico" required class=""> </div>
        </div>
        <div class="form-group py-1 pb-2">
            <div class="input-field"> <span><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
              </svg></span> <input type="text" placeholder="Contraseña" required class=""></div>
        </div>
        <div class="d-flex align-items-start">           
        </div> 
    </form>
    <button class="btn btn-secondary btn-lg btn-block1" type="submit">Registrarme</button>
    <button class="btn btn-primary btn-lg btn-block" type="submit"><span>Iniciar Sesión</span></button>
    </div>
        </div>
      </div>
    </div>
  </section>
</div>