.nav{
    height: 12%;
    margin-bottom: 1.2%;
}
footer{
    margin-top: 13%;
    margin-bottom: 23%!important;
    width: 100%;
    position:absolute;
    padding-top: -20%;
  overflow: visible;
  top:100%;
}