<div class="card">
    <div class="card-body">
      <h5 class="card-title">Mis Tickets</h5>
      <div class="wraper">
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-primary">En proceso</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>  
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-success">Terminado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-danger">Cancelado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-primary">En proceso</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-success">Terminado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-danger">Cancelado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
</div>
<app-navigation></app-navigation>


