<div class="card">
  <div class="input-group filters">
    <h4 class="card-title">Mis Tickets</h4>
    <!--Buscador-->
    <div class="form-outline">
      <input type="search" id="form1" class="form-control"/>
    </div>
    <button type="button" class="btn btn-primary">
      <i class='bx bx-search-alt'></i>
    </button>
  
  <!--Fin-->

  <!--filtro de fechas-->
  <div class="md-form md-outline input-with-post-icon datepicker">
    <label for="start">Start date:</label>
        <input class="form-label" type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2022-12-31">
            <label for="start"> To </label>
        <input class="form-label" type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2022-12-31">
  </div>
  <!--Fin-->
</div>
    <div class="card-body">
      <div class="wraper">
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-primary">En proceso</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>  
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-success">Terminado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-danger">Cancelado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-primary">En proceso</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div> 
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-success">Terminado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>
        <div class="card intern">
          <div class="card-header">
            Número de Ticket<span class="badge rounded-pill bg-danger">Cancelado</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del técnico</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
</div>
<app-navigation></app-navigation>


