<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="card px-5">
  <div class="input-group">
    <h4 class="card-title">Mis Tickets</h4>
  </div>
          <!--filtro de fechas-->
          <div class="row px-4 mb-4">
            <div class="col-md-12 col-lg-6">
              <div class=" md-form md-outline input-with-post-icon datepicker">
                <label for="start">Fecha de inicio:</label>
                <input class="form-label" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2022-12-31" [(ngModel)]="dateFilter.startDate" (change)="getTicketsByDates()" />
                <label for="start"> A </label>
                <input class="form-label" type="date" id="finish" name="trip-finish" value="2018-07-22" min="2018-01-01" max="2022-12-31" [(ngModel)]="dateFilter.endDate" (change)="getTicketsByDates()" />
              </div>
            </div>
            <div class="col-md-12 col-lg-3"></div>
            <div class="col-md-12 col-lg-3">
              <div class="input-group">
                <input type="text" 
                       class="form-control prueba" 
                       placeholder="Buscar Ticket " 
                       aria-label="Recipient's username" 
                       aria-describedby="button-addon2"
                       [(ngModel)]="search"
                       (keyup)=" getSearchTicket()"
                >
                <button class="btn btn-primary mt-0 py-2 px-3" type="button" id="button-addon2">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>

          </div>
          
      
    <div class="row">
      <div *ngFor="let ticket of myTickets" class="col-sm-4 p-1 b-5">
            <div class="card intern">
                <div class="card-header" [ngSwitch]="ticket?.status">
                 <h4>{{ ticket?.status === 'En espera' ? 'Esperando Técnico' : 'Servicio Aceptado' }}</h4>
                    <span *ngSwitchCase="'En espera'" class="badge rounded-pill bg-info">
                        {{ ticket?.status }}
                    </span>
                    <span *ngSwitchCase="'En proceso'" class="badge rounded-pill bg-primary">
                      {{ ticket?.status }}
                    </span>
                    <span *ngSwitchCase="'Completado'" class="badge rounded-pill bg-success">
                    {{ ticket?.status }}
                    </span>
                    <span *ngSwitchCase="'Cancelado'" class="badge rounded-pill bg-danger">
                    {{ ticket?.status }}
                    </span>     
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                      <!--Nombre del técnico-->
                      {{ ticket?.tittle }} 
                    </h3>
                    <p class="card-text">
                      Observaciones: {{ticket?.observation}}
                    </p>
                    <button type="button" class="btn btn-outline-primary" id="btn" data-bs-toggle="modal" data-bs-target="#modalTicket" (click)="getAllInfo(ticket?._id)">
                      <span>Ver Detalles</span>
                    </button>
                </div>
          </div>
      </div>  
    </div>               
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="modalTicket" tabindex="-1" aria-labelledby="modalTicketLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTicketLvabel">{{ ticketInfo?.tittle }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="existeAsignacion; else noAsignacion">
            <table class="table table-hover shopping-cart-wrap">
              <thead class="text-muted">
                <tr>
                  <th scope="col" width="120">Datos del ticket</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <figure class="media">
                      <figcaption class="media-body"><br>
                        <h6 class="title text-truncate">Asignado al técnico: {{ tecnicoInfo?.forename }} {{ tecnicoInfo?.surname }}</h6>
                        <p>correo electrónico: {{ tecnicoInfo?.email }}</p><br>
                        <div class="row px-4 mb-4">
                          <div class="col-6">
                            <dl class="param param-inline small">
                              <dt>Fecha: </dt>
                              <dd>{{ (ticketInfo.dateRequest.split('T'))[0] }}</dd>
                            </dl>
                            <dl class="param param-inline small">
                              <dt>Equipo:</dt>
                              <dd>{{ ticketInfo?.device }}</dd>
                            </dl>
                            <dl class="param param-inline small">
                              <dt>Servicio:</dt>
                              <dd>{{ ticketInfo?.type }}</dd>
                            </dl>
                          </div>
                          <div class="col-6">
                            <dl class="param param-inline small">
                              <dt>Copia de seguridad: </dt>
                              <dd>{{ ticketInfo?.backup }}</dd>
                            </dl>
                            <dl class="param param-inline small">
                              <dt>Observaciones:</dt>
                              <dd>{{ ticketInfo?.observation }}</dd>
                            </dl>
                            <dl class="param param-inline small">
                              <dt>Estado:</dt>
                              <dd>{{ ticketInfo?.status }}</dd>
                            </dl>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <ng-template #noAsignacion>
            <p>No hay ningun técnico asignado</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<app-navigation></app-navigation>




