label {
  margin-right: 10px;
  margin-left: 5px;
}
.card {
  width: 90%;
  margin-left: 15%;
  margin-right: 1.5%;
  float: right;
  margin-bottom: 10px !important;
}

.prueba {
  height: 20px;
}

.form-control {
  width: 10px !important;
}

.btn{
  float: right;
  padding: 5px;
}
.buscar{
  float: left;
  background-color: aqua;
}
h4 {
  color: #a5a5a5;
  float: left;
  font-size: 20px;
}
h5 {
  color: #a5a5a5;
}
span {
  float: right;
}

a {
  margin-top: 20px;
  margin-bottom: 12px;
  float: right;
  text-decoration: none;
}
.filters {
  height: 50px;
  padding: 30px !important;
  margin-bottom: 70px;
  margin-left: 20px !important;
}
.card-title {
  margin-left:2%!important;
  margin-top: 2%!important;
}
.intern{
  min-height: 250px;
}
#btn{
  position: absolute;
   top: 80%;
   margin-right: -10%!important;
   padding: 5px;
}