<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<div class="card">
    <h4 class="card-title">Buzón de quejas</h4>
  
   <!-- Account details card-->
    <div class="conteiner col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Detalles del incidente </div>
          <div class="card-body">
            <form>
              <div class="row gx-3 mb-3"> 
                <!-- Fecha-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLastName"
                    >Fecha del incidente (DD/MM/AAAA) *</label>
                    <input
                        class="form-control dia"
                        type="date"
                        id="start"
                        name="trip-start"
                        min="2018-01-01"
                        max="2022-12-31"
                        [(ngModel)]="createComplaint.dateIncidence"
                        required
                    />
                </div>
                <div class="col-md-4">
                  <label class="small mb-1" for="inputLastName"
                    >Nombre del Técnico *</label
                  >
                  <input
                    class="form-control"
                    id=""
                    name="name"
                    type="text"
                    placeholder="Selecciona a un técnico"
                    value="{{ technicanSelected }}"
                    readonly
                  />
                </div>
                <div class="col-md-2 d-flex align-items-end">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTecnico" (click)="getTechnicians()">
                    Buscar técnico
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción del problema *</label>
                <textarea class="form-control" 
                          id="descripcion" 
                          aria-valuemax="Descripcion" 
                          name="descripcion" 
                          rows="4" 
                          placeholder="Describe el motivo del reporte"
                          [(ngModel)]="createComplaint.message"
                          required>
                 </textarea>
              </div>
              
              
              <button class="btn boton-cargar" type="button" (click)="registerComplaint()">
                Enviar reporte
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <app-navigation></app-navigation>
  

  <!-- Button trigger modal -->


<!-- Modal buscar técnico-->
<div class="modal fade" id="modalTecnico" tabindex="-1" aria-labelledby="modalTecnicoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTecnicoLabel">Buscar técnico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row mb-3 ">
          <div class="col-12 input-group buscar d-flex justify-content-end">
            <div class="form-outline">
              <input type="search" 
                     id="search" 
                     name="search" 
                     class="form-control" 
                     placeholder="Buscar" 
                     [(ngModel)]="search"
                     (keyup)="getUserSearch()" />
            </div>
            <button type="button" class="btn btn-primary" (click)="getUserSearch()">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <div class="row">
            <div *ngFor="let t of technicians | paginate: { itemsPerPage: 3, currentPage: p }" class="col-sm-12 col-md-4">
              <div class="card cardTecnico" style="width: 15rem;" (click)="selectTechnician(t)" data-bs-dismiss="modal">
                <div class="card-body">
                  <h5 class="card-title">Técnico</h5>
                  <p class="card-text">Nombre: {{ t?.forename }}</p>
                  <p class="card-text">Apellidos: {{ t?.surname }}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <pagination-controls (pageChange)="p = $event"
                              previousLabel="Anterior"
                              nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
  
  
  
  
  
    
      
      
   
  
  
