<div class="d-flex flex-column flex-shrink-0 bg-light vh-100">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li> <a class="nav-link py-4 border-bottom" routerLink="homeUser"> <i class="fa bx bxs-dashboard"></i> <small>Dashboard</small> </a> </li>
        <li> <a class="nav-link py-3 border-bottom" routerLink=""> <i class="fa bx bxs-report"></i> <small>New Ticket</small> </a> </li>
        <li> <a class="nav-link py-3 border-bottom" routerLink="perfilUser"> <i class='fa bx bxs-user'></i> <small>Mi Perfil</small> </a> </li>
        </ul>
</div>
