<div class="d-flex flex-column flex-shrink-0 bg-light vh-100">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li> <a href="#" class="nav-link py-4 border-bottom"> <i class="fa bx bxs-dashboard"></i> <small>Dashboard</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> <i class="fa bx bxs-report"></i> <small>Ticket</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> <i class='fa bx bxs-cog'></i> <small>Ajustes</small> </a> </li>
        </ul>
</div>
